<div >
    <img  src = "assets/img/e1.jpg" alt="Nature">
    <div class="text-block">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          login
        </a>
        <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
          <a class="nav-link" href="adminlogin">Admin Login</a>
          <a class="nav-link" href="employeelogin">Employee Login</a>
        </ul>
      </li>
    </div>
    <div class="text-block1">
      <h4>About</h4>
      <p>An employee management system consists of crucial work-related and important personal information about an employee. In a nutshell, it is an online inventory of all employees of an organization. Employees are the strength of any organization, and it is more so in case of a growing business</p>
    </div>
    
  </div>