<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <div id ="formTitle" >
          <label>
           <!-- registeradmin -->
           <a class="underlineHover" href="adminlogin">
            <input type="button"  class="fadeIn fourth" value="Login">
           </a>
           <h2>Sign Up</h2> 
             <!-- <input type="submit" class="fadeIn fourth" value="Sign Up"> -->
          </label>
      </div>
      <!-- Icon -->
  
      <!-- Login Form -->
      <form [formGroup]="user" (ngSubmit)="registerUser()">
        <input type="text" formControlName="userid" class="fadeIn second"  placeholder="User Id">
        <input type="text" formControlName="password" class="fadeIn third" placeholder="password">
        <input type="submit" class="fadeIn fourth">
      </form>
    </div>
  </div>